/* @override http://localhost.local/kennissysteem/www/webfrontend.css */

form {
	display: inline;
}

body {
	font: 14px/24px "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-top: 36px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 24px;
	background: black;
	box-shadow: 0 0 4px #333
}

nav a {
	display: inline-block;
	color: #eee;
	text-shadow: 0 1px 0 #333;
	text-decoration: none;
	padding: 0 12px;
}

header > * {
	display: none;
}

header > h1 {
	display: inline-block;
	position: fixed;
	top: 0;
	right: 12px;
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: #eee;
	font-weight: normal;
}

nav a:hover {
	background: #eee;
	color: #444;
	text-shadow: 0 1px 0 white;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.2em;
}

footer p {
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}

footer p, footer p > * {
	color: silver;
}

table {
	border-spacing: 0;
}

th {
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid silver;
}

td, th {
	padding: 0 1em;
	border-left: 1px solid silver;
}

th:nth-child(1), td:nth-child(1) {
	border-left: none;
}

.kennisbanken,
.completed {
	width: 900px;
	margin: 0 auto;
}

.completed dt {
	font-size: 1.2em;
}

.completed dd {
	margin: 0 1em 2em 1em;
	padding: 0 1em;
	border-left: 1px solid silver;
}

.question {
	width: 600px;
	margin: 0 auto;
}

.question p {
	font-size: 1.2em;
}

.question .options {
	padding: 0;
	list-style: none;
}

.question .options li {
	margin: 0;
	padding: 0;
}

.question .options label {
	display: block;
	margin: 0.2em;
	padding: 0.5em 1em;
	color: #444;
	text-shadow: 0 1px 0 white;
	border: 1px solid #D8D8D8 !important;
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
	border-radius: 2px;
}

.question .options label:hover {
	border: 1px solid #C6C6C6 !important;
	background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
}

.question .options label {
	cursor: pointer;
}

.question .options .single-click input[type=radio] {
	display: none;
}

.state-info {
	display: none;
}

.action a,
.action button {
	border: 1px solid silver;
	background: #eee;
	margin: 0.2em;
	padding: 0.1em 1em;
	border-radius: 2px;
	cursor: pointer;
	color: black;
	font: inherit;
	display: inline-block;
	text-decoration: none;
	text-shadow: white 0 1px 0;
}

.action a:hover,
.action button:hover {
	background: #ddd;
}

.delete button {
	background: #e33;
	border-color: #c33;
	color: white;
	text-shadow: black 0 1px 0;
}

.delete button:hover {
	background: #d33;
}

.upload-knowledge-base-form {
	display: block;
	max-width: 400px;
	margin: 4em auto;
	padding: 1em;
}

.upload-knowledge-base-form button {
	font-size: 1.5em;
	border: 1px solid silver;
	background: #eee;
	margin: 0.2em;
	padding: 0.1em 1em;
	border-radius: 2px;
	cursor: pointer;
	color: black;
	font: inherit;
	display: inline-block;
	text-decoration: none;
	text-shadow: white 0 1px 0;
}

form > div {
	margin-bottom: 1em;
}

form > div > label {
	display: block;
}
